html,body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Solway', serif;
  display: grid;
  grid-template-areas:
  "h h"
  "m a";
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 10vh 90vh;
}

header {
  align-items: center;
  background-color: #0e0f10;
  display: grid;
  color: #15a874;
  grid-area: h;
}

main {
  align-items: baseline;
  background-color: #e4e4e4;
  display: grid;
  grid-area: m;
}

aside {
  justify-content: center;
  background-color: #1d1d22;
  display: grid;
  grid-area: a;
}
