html,body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Solway', serif;
  display: flex;
  flex-direction: column;
  font-size: large;
}

header {
  align-items: center;
  background-color: #0e0f10;
  color: #15a874;
  display: flex;
  justify-content: center;
  width: 100%;
}

#left-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#rigth-header {
  align-items: center;
  background-color: #15a874;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 20%;
}

#header-text, #meu-carrinho  {
  margin-left: 20px;
}

#triangulo {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right:15px solid #15a874;
}

img {
  width: 30px;
  margin: 0;
  padding: 0;
}

main {
  align-items: baseline;
  background-color: #e4e4e4;
  display: flex;
  height: 100vh;
  width: 100%;
}

article {
  width: 20%;
}

aside {
  align-items: center;
  background-color: #1d1d22;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 80%;
}

#itens-box {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#subtotal {
  text-align: center;
}


button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: #fff;
  font-family: 'Solway', serif;
  padding: 10px 50px;
  transition: 0.5s;
}

button:hover {
  background-color: #1d1d22;
  border: 1px solid #15a874;
  color: #15a874;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}
