html,body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Solway', serif;
  display: flex;
  flex-direction: column;
  font-size: large;
}

header {
  align-items: center;
  background-color: #0e0f10;
  color: #15a874;
  display: flex;
  justify-content: center;
  width: 100%;
}

#header-text {
  margin-left: 10px;
}

#left-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

#rigth-header {
  align-items: center;
  background-color: #15a874;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 15%;
}


#triangulo {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right:15px solid #15a874;
}

img {
  width: 30px;
  margin: 0;
  padding: 0;
}

main {
  background-color: #e4e4e4;
  display: flex;
}

article {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: 1s;
  padding-top: 10px;
  width: 100%;
}

aside {
  align-items: center;
  background-color: #1d1d22;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 0;
  transition: 1s;
  overflow: hidden;
}

#itens-box {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#subtotal {
  text-align: center;
}


button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: #fff;
  font-family: 'Solway', serif;
  padding: 10px 50px;
  transition: 0.5s;
}

button:hover {
  background-color: #1d1d22;
  border: 1px solid #15a874;
  color: #15a874;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.quin {
  width: 10%;
  opacity : 0.5;
  overflow: hidden;
}

.oit {
  width: 90%;
}

.itemBox {
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 5px;
  height: 250px;
  padding: 10px;
  width: 175px;
}

.itemBox > img {
  width: 100px;
}

.itemBox > p {
  font-size: x-small;
}

.itemBtn {
  align-items: center;
  text-align: center;
  background-color: #15a874;
  height: 30px;
  padding: 0;
  width: 100%;
}